#wrapper {
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #202020;
    color: #C0C0C0;
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 60px;
    font-size:60px;
    position: relative;
    color: white;
}
#headerstreak{
    width: 100%;
    height: 30px;
    background-color:#045eaa;
    position: absolute;
    top: 30%;
    z-index: -10;
}
.btnhead {
    position: absolute;
    width: 100px;    
    top: 35%;
    padding: 2px 2px 2px 2px;

    font-size: 18px;
    color: #ffffff; 
    text-decoration: none;
    text-align: center;
    
    border: solid #000000 0;
    background: #068BF7; 
}
.btnhead:hover {
  background: #50AAF7;
  text-decoration: none;
}
#headerslogan {
    width: 100%;
    height: auto;
    text-align: right;
}
#content {
    width: 100%;
    height: auto;
}
#contentbody {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    box-sizing:border-box;

    font-size:20px;
    color: white;

    background-color:#404040;
}
#footer {
    width: 100%;
    height: auto;
    color: white;
    background-color:#034277;
    text-align: right;
    vertical-align: middle;
}
.btnfoot {
    position: relative;
    width: 200px;    
    top: 35%;
    padding: 2px 2px 2px 2px;

    font-size: 18px;
    color: #ffffff; 
    text-decoration: none;
    text-align: center;
    
    border: solid #000000 0;
    background: #035699; 
}
.btnfoot:hover {
  background: #068BF7;
  text-decoration: none;
}